<div class="row" *ngIf="!! options?.filters && options?.filters.length">
    <div [ngClass]="filter.cssClass" *ngFor="let filter of options.filters">
        <h6>{{filter.title}}</h6>
        <app-filters [data]="filter"></app-filters> 
    </div>
</div>

<div class="btn-group btn-group-toggle mb-3 d-table" data-toggle="buttons">
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option1"> Excel
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2"> PDF
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3"> Imprimir
    </label>
</div>

<table datatable [dtOptions]="dtOptions" class="row-border hover" style="width: 100% !important;">   
    <thead>
        <tr>
            <th *ngFor="let column of options.columns">{{column.display}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of items">
            <td *ngFor="let column of options.columns">
                <app-datatable-column [column]="column" [data]="data"></app-datatable-column>
            </td>
        </tr>
    </tbody>
</table>