<div *ngFor="let client of parsedClients">
    <ul>
        <li>
            <span>{{client.name}}</span>
            <span class="badge badge-light">{{getLength(client?.clients)}} <i class="fa fa-users"></i></span>
            <span class="badge badge-info">{{client.status}}</span>
            <span (click)="showInfo(client)"><i class="fa fa-info-circle"></i></span>
            <app-clients-referals-treeview [clients]="client.clients" *ngIf="client.clients"></app-clients-referals-treeview>
        </li>
    </ul>
</div>