<div class="form-group row" [ngClass]="{invalid: field.invalid}">
    <label class="col-sm-{{options?.width ? 12:4}} col-form-label font-weight-bold">{{options?.label}}</label>
    <div class="col-sm-{{options?.width ? 12:8}}" [ngSwitch]="type">
        <input *ngSwitchCase="'input'" type="text" class="form-control"  [formControl]="field">
        <input *ngSwitchCase="'email'" type="email" class="form-control" [formControl]="field">
        <input *ngSwitchCase="'password'" type="password" class="form-control" [formControl]="field">
        <textarea *ngSwitchCase="'textarea'" type="text"  class="form-control" [formControl]="field" rows="{{options.rows}}"></textarea>
        <div *ngSwitchCase="'switch'" class="custom-control custom-switch">
            <input type="checkbox" (change)="switched($event)" [checked]="isChecked" class="custom-control-input" id="custom-switch">
            <label class="custom-control-label" for="custom-switch">{{ isChecked ? (options.trueCaption || 'Activo') : (options.falseCaption || 'Inactivo') }}</label>
        </div>
        <div *ngSwitchCase="'image'">
            <div class="avatar-upload">
                <div class="avatar-edit">
                    <input type='file' id="imageUpload" (change)="readFile($event)" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" [style.background-image]="bgStyle()">
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</div>