<div class="d-block">
    <a style="font-size: 13px; pointer-events: none;" class="d-block" href="/">{{ data.client.name }}</a>
    <a style="font-size: 14px; font-weight: 600;" class="d-block">{{data.error_code.category}} - {{ data.error_code.code }} - {{data.error_code.name}}</a>
    <small class="d-block">{{data.description}}</small>
</div>