<div class="row">
    <div class="col">
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Opciones</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <ng-container *ngFor="let action of options">
                    <button *ngIf="isVisible(action.conditionality)" ngbDropdownItem (click)="fireEvent(action.event)">  
                        <i *ngIf="action['icon']" class="{{action.icon}}"></i>
                        {{ action.display }} 
                    </button>
                </ng-container> 
            </div>
        </div>
    </div>
</div>