<div class="modal-body">
    <div class="container">
        <ngb-tabset>
            <ngb-tab title="Clientes">    
                <ng-template ngbTabContent>
                    c
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Cadena">    
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-8">
                            <app-clients-referals-treeview [clients]="client"></app-clients-referals-treeview>
                        </div>
                        <div class="col-md-4">
                            <dl class="row">
                                <dt class="col-sm-3">Nombre</dt>
                                <dd class="col-sm-9">{{info.name}}</dd>
                                <dt class="col-sm-3">Nivel</dt>
                                <dd class="col-sm-9">{{info.level}}</dd>
                                <dt class="col-sm-3">Email</dt>
                                <dd class="col-sm-9">{{info.email}}</dd>
                                <dt class="col-sm-3">Estado</dt>
                                <dd class="col-sm-9">{{info.state}}</dd>
                                <dt class="col-sm-3">Status</dt>
                                <dd class="col-sm-9"><span class="badge badge-info">{{info.status}}</span></dd>
                            </dl>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Comisiones">    
                <ng-template ngbTabContent>
                    e
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Comisiones Máximas">    
                <ng-template ngbTabContent>
                    f
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('close button')">Close</button>
</div>