<div class="modal-body">
    <div class="container">
        <div class="row">
            <form [formGroup]="offline_form">
                <div class="col-sm-12 align-items-center">
                    <h5>Cargos</h5>
                    <br>
                    <div *ngIf="data.client.debt > 0">
                        <div class="form-group">
                            <label>Deuda</label>
                            <input type="text" class="form-control" value="{{data.client.debt/100 | currency}}"
                                disabled>
                        </div>
                    </div>

                    <div *ngIf="data.client.debt < 10000">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 control-label">Pagar X meses por adelantado</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="months_ahead" required formControlName="months_ahead" #m (change)="onChage(m.value)">
                                    <option disabled selected value="">Seleccione una opción...</option>
                                    <option *ngFor="let month of months_ahead" [value]="month.id">{{month.id}}</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 control-label">Tipo de págo</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="payment_type" required formControlName="payment_type" #t (change)="onChage(t.value)">
                                    <option disabled selected value="">Seleccione una opción...</option>
                                    <option *ngFor="let type of payment_types" [value]="type.name">{{type.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <hr width="100%" size="8">
                <br>

                <div class="col-sm-12 align-items-center">
                    <h5>TOTAL</h5>
                    <br>
                    <dl class="row">
                        <dt class="col-sm-3">Instalación</dt>
                        <dd class="col-sm-9">{{data.client.installation_fee /100 | currency}}</dd>
                        <dt class="col-sm-3">Deposito</dt>
                        <dd class="col-sm-9">{{data.contract.deposit | currency}}</dd>
                    </dl>
                    <div *ngIf="data.client.debt > 0">
                        <dl class="row">
                            <dt class="col-sm-3">Deuda</dt>
                            <dd class="col-sm-9">{{data.client.debt/100 | currency}}</dd>
                            <dt class="col-sm-3">Cuota de administración</dt>
                            <dd class="col-sm-9">$100.00</dd>
                            <dt class="col-sm-3">Total</dt>
                            <dd class="col-sm-9">{{(data.client.debt/100)+100 | currency}}</dd>
                        </dl>
                    </div>
                    <div *ngIf="data.client.debt < 1">
                        <dl class="row">
                            <dt class="col-sm-3">Cuota mensual</dt>
                            <dd class="col-sm-9">{{data.contract.monthly_fee | currency}}</dd>
                            <dt class="col-sm-3">Cuota de administración</dt>
                            <dd class="col-sm-9">$100.00</dd>
                        </dl>
                        <div *ngIf="data.client.social_responsability == 1">
                            <dl class="row">
                                <dt class="col-sm-3">Responsabilidad Social</dt>
                                <!-- <dd class="col-sm-9">{{(contract.monthly_fee/1.16)*.007 | currency}}</dd> -->
                                <dd class="col-sm-9">{{data.contract.sr | currency}}</dd>
                            </dl>
                        </div>
                        <dl class="row">
                            <dt class="col-sm-3">Total</dt>
                            <dd class="col-sm-9">{{totalOffline() | currency}}</dd>
                        </dl>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <button type="button" (click)="offlinePayment()">Generar referencia</button>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('close button')">Close</button>
</div>