<h2># {{ data.id_tickets }}</h2>
<ng-template #popContent>

    <h4>Error Code</h4>
    <dl class="dl-horizontal">
        <dt>Code</dt>
        <dd>{{data.error_code.code}}</dd>
        <dt>Category</dt>
        <dd>{{data.error_code.category}}</dd>
        <dt>Name</dt>
        <dd>{{data.error_code.name}}</dd>
    </dl>

    <h4>Ticket</h4>
    <dl class="dl-horizontal">
        <dt>Costo estimado</dt>
        <dd *ngIf="data.estimated_service_fee">${{data.estimated_service_fee}}</dd>
        <dd *ngIf="!data.estimated_service_fee">Campo vacío</dd>
        <dt>Razones</dt>
        <dd *ngIf="data.estimated_service_fee_reasons">{{data.estimated_service_fee_reasons}}</dd>
        <dd *ngIf="!data.estimated_service_fee_reasons">Campo vacío</dd>
        <dt>Costo final</dt>
        <dd *ngIf="data.final_service_fee">${{data.final_service_fee}}</dd>
        <dd *ngIf="!data.final_service_fee">Campo vacío</dd>
        <dt>Razones</dt>
        <dd *ngIf="data.final_service_fee_reasons">{{data.final_service_fee_reasons}}</dd>
        <dd *ngIf="!data.final_service_fee_reasons">Campo vacío</dd>
    </dl>

</ng-template>

<i  class="fa fa-info-circle fa-lg text-success" style="cursor: pointer;" 
[placement]="['top', 'bottom', 'auto']" [ngbPopover]="popContent" ></i>

<br>

<div *ngIf="data.status === 'closed'">
    <span class="badge badge-success">Cerrado</span>
</div>

<div *ngIf="data.status === 'opened'">
    <span class="badge badge-danger">Abierto</span>
</div>

<div class="truck" style="display: inline-grid;" *ngIf="data.status === 'assigned'">
    <span class="badge badge-warning">Asignado</span>
    <i class="fa fa-truck fa-2x fa-passing-reverse animated fa-slow"></i>
</div>

<div *ngIf="data.status === 'completed'">
    <span class="badge badge-info">Completado por el técnico</span>
</div>

<div *ngIf="data.status === 'confirmed'">
    <span class="badge badge-success">Firmado por el cliente</span>
</div>