<br>
<div class="container">
    <ngb-tabset>
        <ngb-tab title="Datos Generales">    
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col">
                        <app-form-field type="input" [options]="{label: 'Nombre', path: 'name'}"></app-form-field>
                        <app-form-field type="image" [options]="{label: 'Imagen', path: 'image'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Teléfono', path: 'phone'}"></app-form-field>
                        <app-form-field type="email" [options]="{label: 'Email', path: 'email'}"></app-form-field>
                        <app-form-field type="switch" [options]="{label: 'Estatus', path: 'status', trueValue: 1, falseValue: 0, trueCaption: 'Administrador activado', falseCaption: 'Administrador desactivado'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Equipo', path: 'team_id'}"></app-form-field>
                    </div>

                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>