<div class="modal-body" *ngIf="client !== undefined">
    <div class="container">
        <div class="row">

            <div class="col">
                <h5 class="font-italic">Datos del cliente</h5>
                <br>
                <dl class="row">
                    <dt class="col-sm-3">Nombre</dt>
                    <dd class="col-sm-9">{{client.name}}</dd>
                    <dt class="col-sm-3">Fecha de alta</dt>
                    <dd class="col-sm-9">{{client.created_at}}</dd>
                    <dt class="col-sm-3">Email</dt>
                    <dd class="col-sm-9">{{client.email}}</dd>
                    <dt class="col-sm-3">Teléfono</dt>
                    <dd class="col-sm-9">{{client.phone}}</dd>
                    <dt class="col-sm-3">Dirección</dt>
                    <dd class="col-sm-9">{{client.address}}</dd>
                    <dt class="col-sm-3">Entre</dt>
                    <dd class="col-sm-9">{{client.between_streets}}</dd>
                    <dt class="col-sm-3">Colonia</dt>
                    <dd class="col-sm-9">{{client.colony}}</dd>
                    <dt class="col-sm-3">Código postal</dt>
                    <dd class="col-sm-9">{{client.postal_code}}</dd>
                    <dt class="col-sm-3">Estado</dt>
                    <dd class="col-sm-9">{{client.state}}</dd>
                    <dt class="col-sm-3">Estatus</dt>
                    <dd class="col-sm-9">{{client.status}}</dd>
                    <dt class="col-sm-3">Servicio gratis</dt>
                    <dd class="col-sm-9">{{client.level!='VIAJERO'?'Si':'No'}}</dd>
                </dl>

                <br>
                <h5 class="font-italic">Referido por</h5>
                <br>

                <dl class="row">
                    <dt class="col-sm-3">Nombre</dt>
                    <dd class="col-sm-9">{{refeer?.name}}</dd>
                    <dt class="col-sm-3">Fecha de alta</dt>
                    <dd class="col-sm-9">{{refeer?.created_at}}</dd>
                    <dt class="col-sm-3">Email</dt>
                    <dd class="col-sm-9">{{refeer?.email}}</dd>
                    <dt class="col-sm-3">Teléfono</dt>
                    <dd class="col-sm-9">{{refeer?.phone}}</dd>
                    <dt class="col-sm-3">Dirección</dt>
                    <dd class="col-sm-9">{{refeer?.address}}</dd>
                    <dt class="col-sm-3">Entre</dt>
                    <dd class="col-sm-9">{{refeer?.between_streets}}</dd>
                    <dt class="col-sm-3">Colonia</dt>
                    <dd class="col-sm-9">{{refeer?.colony}}</dd>
                    <dt class="col-sm-3">Código postal</dt>
                    <dd class="col-sm-9">{{refeer?.postal_code}}</dd>
                    <dt class="col-sm-3">Estado</dt>
                    <dd class="col-sm-9">{{refeer?.state}}</dd>
                    <dt class="col-sm-3">Estatus</dt>
                    <dd class="col-sm-9">{{refeer?.status}}</dd>
                    <dt class="col-sm-3">Servicio gratis</dt>
                    <dd class="col-sm-9">{{refeer?.level!='VIAJERO'?'Si':'No'}}</dd>
                </dl>

                <h5 class="font-italic">Pago inicial</h5>
                <br>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Categoría</th>
                            <th scope="col">Elemento</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Contrato</td>
                            <td>Deposito</td>
                            <!-- <td>Reviar si el deposito es del grupo o del cliente</td> -->
                            <td>{{contractData.deposit | currency}}</td>
                        </tr>

                        <tr>
                            <td>Contrato</td>
                            <td>1° cargo</td>
                            <td>{{contractData.first_charge | currency}}</td>
                        </tr>

                        <tr *ngFor="let extra of data.contract.extras">
                            <td>{{extra.category_name}}</td>
                            <td>{{extra.element_name}}</td>
                            <td>
                                <span [ngSwitch]="extra.element_name == 'Acero inoxidable'">
                                    <p *ngSwitchCase="true">
                                        {{(contractData.installation_fee) | currency}}
                                    </p>
                                    <p *ngSwitchCase="false">
                                        {{extra.price | currency}}
                                    </p>
                                </span>
                            </td>
                        </tr>

                        <tr *ngIf="data.social_responsability == 1">
                            <td colspan="2">Responsabilidad Social</td>
                            <td>{{contractData.sr | currency}}</td>
                        </tr>

                        <tr *ngIf="data.charge_fee > 0">
                            <td>Comisiones bancarias</td>
                            <td>{{contractData.bank_fee | currency}}</td>
                        </tr>

                        <tr *ngIf="data.id_coupon > 0">
                            <td>Cupón</td>
                            <td>{{data.coupon.token}}</td>
                            <td>-{{data.coupon.reward | currency}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table invoice-total">
                    <tbody>
                        <tr>
                            <td><strong>TOTAL: </strong></td>
                            <td>{{contractData.total | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <div>
                    <ngb-tabset>
                        <ngb-tab title="Documentos">
                            <ng-template ngbTabContent>

                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Imagenes">Imagenes</ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <span [ngClass]="{
                                    'text-info': client.cards.length > 0,
                                    'text-danger': client.cards.length === 0}">
                                    <i class="fa fa-credit-card-alt fa-fw fa-lg"></i>
                                    Datos de pago
                                </span>
                            </ng-template>

                            <ng-template ngbTabContent>
                                <div class="container-fluid bg-white p-3">
                                    <app-datatable [options]="dataTableConfig"></app-datatable>
                                </div>
                                <div
                                    *ngIf="client.coordinate === null || client.coordinate === 'null' || client.coordinate === ''">
                                    <h4>Favor de añadir las coordenadas al usuario para poder efectuar el primer cargo
                                    </h4>
                                </div>
                                <!-- devolver client.payday a !== -->
                                <div
                                    *ngIf="client.coordinate !== null || client.coordinate !== 'null' || client.coordinate !== ''">
                                    <button class="btn btn-lg btn-info" data-style="zoom-in"
                                        data-spinner-color="#3e495f" data-spiner-size="20" (click)="firstPayment()"
                                        [hidden]="client.coordinate === null || client.coordinate === 'null' || client.coordinate === ''"
                                        [disabled]="client.cards.length == 0 || client.pay_day !== 'null' || client.pay_day !== ''">
                                        <i class="fa fa-money fa-lg fa-fw"></i>Recolectar primer pago
                                    </button>

                                    <button class="btn btn-lg btn-info" data-style="zoom-in"
                                        data-spinner-color="#3e495f" data-spiner-size="20" (click)="offlinePayment()"
                                        [hidden]="client.coordinate === null || client.coordinate === 'null' || client.coordinate === ''">
                                        <i class="fa fa-money fa-lg fa-fw"></i>Recolectar primer pago por OXXO / SPEI
                                    </button>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('close button')">Close</button>
</div>