<div class="modal-body">
    <p>El cliente {{ data.client.name }}.</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('close button')">Close</button>
</div>
