<div [ngSwitch]="column.type">
    
    <p *ngSwitchCase="'text'">{{getField(column.field, data)}}</p>
    <p *ngSwitchCase="'date'">{{getField(column.field, data) | date:'medium'}}</p>
    <p *ngSwitchCase="'actions'">
        <app-datatable-column-actions [data]="data" [options]="column.options"></app-datatable-column-actions>
    </p>
    
    
    <!-- Specific Tickets Fields -->
    <p *ngSwitchCase="'ticket_status'">
        <app-datatable-column-ticket-status [data]="data"></app-datatable-column-ticket-status>
    </p>

    <p *ngSwitchCase="'ticket_client'">
        <app-datatable-column-ticket-client [data]="data"></app-datatable-column-ticket-client>
    </p>

    <p *ngSwitchCase="'ticket_contact'">
        <app-datatable-column-ticket-contact [data]="data"></app-datatable-column-ticket-contact>
    </p>
    
    <p *ngSwitchCase="'label'">
        <app-datatable-column-label [data]="data"></app-datatable-column-label>
    </p>
</div>
