<div class="btn-group btn-group-toggle mb-2 d-table" ngbRadioGroup name="radioBasic" [(ngModel)]="selected">
    <label *ngFor="let filter of data.options" ngbButtonLabel class="btn-secondary" (change)="radioChange()">
        <input ngbButton type="radio" value='{{filter.val}}'> {{filter.name}}    
    </label>
</div>
<br>